// Default style for all contents
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

// Customizing the body
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(90deg,#e2e2e2, #c9d6ff);
}

// Customizing the main of the page
main {
    position: relative;
    width: 850px;
    height: 550px;
    background:#fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    overflow: hidden;
    margin: 20px;
    // Customizing section in the main
    section {
        // Customizing 'form-box' class in the section
        &.form-box {
            position: absolute;
            right: 0;
            width: 50%;
            height: 100%;
            display: flex;
            background: #fff;
            align-items: center;
            color:#333;
            text-align: center;
            padding: 40px;
            z-index: 1;
            transition: .6s ease-in-out 1.2s,
                        visibility 0s 1s;
            // Customizing form element in the form-box
            form {
                width: 100%;
                h1 {
                    font-size:36px;
                    margin: -10px 0;
                }
                // all divisions in the form element
                div {
                    // Customizing all input-box in the div
                    &.input-box {
                        position: relative;
                        margin: 30px 0;
                        
                        // Customizing input element in the div
                        input {
                            width:100%;
                            padding: 13px;
                            background: #eee;
                            border-radius: 8px;
                            border: none;
                            outline: none;
                            font-size: 16px;
                            color: #333;
                            font-weight: 500;
                            &::placeholder {
                                color: #888;
                                font-weight: 400;
                            }
                        }
                        // Customizing the input-box icons
                        img {
                            position:absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            opacity: 0.30;
                        }
                    }
                    // Customizing forgot-link
                    &.forgot-link {
                        margin-bottom: 15px;
                        a {
                            font-size: 14.5px;
                            color:#333;
                            text-decoration: none;
                        }
                    }
                    // Customizing social-icons
                    &.social-icons{ 
                        display: flex;
                        justify-content: center;
                        a{
                            display: inline-flex;
                            padding: 10px;
                            border: 2px solid #ccc;
                            border-radius: 8px;
                            font-size: 24px;
                            color: #333;
                            text-decoration: none;
                            margin: 0 8px;

                        }   
                    }
                }
                // Customizing small element for showing errors
                small {
                    position: absolute;
                    visibility: hidden;
                }
                // Customizing submit button
                input[type="submit"]{
                    width: 100%;
                    height: 48px;
                    background: rgba(225, 225, 135, 1);
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    color: #333;
                    font-weight: 600;
                }
                p {
                    font-size: 14.5px;
                    margin: 15px 0;
                }

            }
            // Register side-bar
            &.register {
                visibility: hidden;
            }
        }

        // Customizing toggle-box
        &.toggle-box {
            position: absolute;
            width: 100%;
            height: 100%;
            &::before {
                content: "";
                position: absolute;
                left: -250%;
                width: 300%;
                height: 100%;
                border-radius: 50px;
                background: rgba(225, 225, 135, 1);
                z-index: 2;
                transition: 1.5s ease-in-out;
            }

            // customizing divs in toggle-box
            div {

                // Customizing toggle-panel (in general)
                &.toggle-panel {
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    line-height: 1.5;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 2;
                    transition: .6s ease-in-out;
                    color: #333;
                    p {
                        margin-bottom: 20px;
                    }
                    button.btn {
                        width: 160px;
                        height: 46px;
                        background: transparent;
                        border: 2px solid #333;
                        box-shadow: none;
                        cursor: pointer;
                        &:hover {
                            font-size: medium;
                            border-radius: 10px;
                            box-shadow: 0 0 0 5px rgba(0,0,0,.1);
                        }
                    }
                    &.toggle-right {
                        right: -50%;
                        transition-delay: .6s;
                    }
                    &.toggle-left {
                        left: 0;
                        transition-delay: 1.2s;
                    }
                }
            }
        }
    }
    // Styling when container is active (button is clicked)
    &.container.active {
        .form-box {
            right: 50%;
        }
        .toggle-box::before{
            left: 50%;
        }
        .toggle-panel{
            &.toggle-left{
                left: -50%;
                transition-delay: .6s;
            }
            &.toggle-right {
                right: 0;
                transition-delay: 1.2s;
            }
        }
        .form-box.register {
            visibility: visible;
        }
    }
}
// Styling the content when screen width is not above 647px
@media  screen and (max-width: 647px) {
    main {
        section.form-box {
            bottom: 0;
            width: 100%;
            height: 70%;
            &.register {
                form h1 {
                    visibility: hidden;
                }
            }
        }
        section.toggle-box{
            &::before {
                left: 0;
                top: -270%;
                width: 100%;
                height:300%;
                border-radius: 20vw;
            }
            div.toggle-panel{
                width: 100%;
                height: 28%;
                &.toggle-left {
                    top: 0;
                }
                &.toggle-right {
                    right: 0;
                    bottom: -50%;
                }
            }

        }
        // Styling when container is active (login/signup button is clicked)
        &.container.active{
            section.toggle-box {
                &::before{
                    left: 0;
                    top: 74%;
                    
                }
                div.toggle-panel{
                    &.toggle-left {
                        left: 0;
                        top: -30%;
                    }
                    &.toggle-right {
                        bottom: 0;
                    }
                }
            }
            section.form-box {
                right: 0;
                bottom: 30%;
            }
        }
    }   
}
// Styling the content when screen width is not above 400px
@media screen and (max-width: 400px) {
    .form-box {
        padding: 20px;
    }
    .toggle-panel h1 {
        font-size: 30px;
    }
    
}